<div class="row my-1">
    <div class="col-md-8 my-1 themed-grid-col">
        <% @questions.each do |question| %>
        <%= render question %>
        <% end %>
    </div>
    <div class="col-md-4">
    </div>
</div>