<div class="row mb-3">
    <div class="col-md-8">
        <h2 class="mt-4">Practice and Prepare for US Citizenship Interview</h2>
        <p>Our goal is to help you practice and prepare for US Citizen Interview. Improve your English listening skills for <strong>Free!</strong>.</p>

    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row mb-3">
    <!-- themed-grid-col -->
    <div class="col-md-8 themed-grid-col">
        Ads
    </div>
    <div class="col-md-4 themed-grid-col">
    </div>
</div>
<hr class="my-4">
<div class="row mb-3">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">Steps to study for the US Citizenship</h2>
            <p>The interview is broken into <strong>four different parts.</strong></p>
            <p> The <strong>first part</strong> includes Question and Answer. The officer will ask you 10 questions and you are expected to get 6 questions correctly. The questions are based on US government and history. The questions can be found here(link).</p>
            <p><strong>The second part</strong> is reading in English. The officer will show you a setence and you are expected to read it outloud. You have 3 chances to get it correctly.</p>
            <p><strong>The third part of the interview is writing in English. The officer will say the setence in English</strong> and you are expected to write the sentence correctly. You will have 3 chances to get it correct.</p>
            <p><strong>The last part</strong> will be questions on your n-400 application. You are expected to know what you wrote down on the form.</p>
            <p>You have two chances to pass the interview. If you fail both times, you will need to submit the application again.</p>
            <hr>
        </article>
    </div>
    <div class="col-md-4 themed-grid-col">
        Ads
    </div>
</div>
<hr class="my-4">