<h1>Editing question audio</h1>

<%= render "form", question_audio: @question_audio %>

<br>

<div>
  <%= link_to "Show this question audio", @question_audio %> |
  <%= link_to "Back to question audios", question_audios_path %>
</div>
