<div class="row mb-3">
    <div class="col-md-8">
        <h2 class="mt-4">Thực hành và Chuẩn bị cho Phỏng vấn Công dân Hoa Kỳ</h2>
        <p>Mục tiêu của chúng tôi là giúp bạn luyện tập và chuẩn bị cho Phỏng vấn Công dân Hoa Kỳ. Cải thiện kỹ năng nghe tiếng Anh của bạn cho <strong>
                Miễn phí!</strong>.</p>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row mb-3">
    <!-- themed-grid-col -->
    <div class="col-md-8 themed-grid-col">
        Ads
    </div>
    <div class="col-md-4 themed-grid-col">
    </div>
</div>
<hr class="my-4">
<div class="row mb-3">
    <div class="col-md-8">
        <article class="blog-post">
            <h2 class="blog-post-title">Làm thế nào để học Quốc tịch Hoa Kỳ</h2>
            <p>Cuộc phỏng vấn được chia thành <strong>bốn phần khác nhau.</strong></p>
            <p> <strong>Phần đầu tiên</strong> bao gồm câu hỏi và trả lời. Viên chức sẽ hỏi bạn 10 câu hỏi và bạn phải trả lời đúng 6 câu hỏi. Các câu hỏi dựa trên lịch sử và chính phủ Hoa Kỳ. Các câu hỏi có thể được tìm thấy ở đây (liên kết).</p>
            <p><strong>Phần thứ hai</strong> là đọc bằng tiếng Anh. Viên chức sẽ chỉ cho bạn một sự chuẩn bị và bạn phải đọc to nó. Bạn có 3 cơ hội để lấy nó một cách chính xác.</p>
            <p><strong>Phần thứ ba</strong> của cuộc phỏng vấn là viết bằng tiếng Anh. Viên chức sẽ nói trình tự bằng tiếng Anh và bạn phải viết câu đúng. Bạn sẽ có 3 cơ hội để làm đúng.</p>
            <p><strong>Phần cuối cùng</strong> sẽ là các câu hỏi về ứng dụng n-400 của bạn. Bạn phải biết những gì bạn đã viết trên biểu mẫu. Cuộc phỏng vấn có thể kéo dài từ 20-25 phút đến 1 giờ. </p>
            <p>Bạn có hai cơ hội để vượt qua cuộc phỏng vấn. Nếu trượt cả hai lần, bạn sẽ phải nộp lại hồ sơ.</p>
            <hr>
        </article>
    </div>
    <div class="col-md-4 themed-grid-col">
        Ads
    </div>
</div>
<hr class="my-4">
